# Saving DataFrame to csvs file

In [1]:
import pandas as pd

In [5]:
country = ["Canada", "United States", "United Kingdom", "Nigeria"]

country_code = ["+1", "+1", "+44", "+234"]

country_capital = ["Ottawa", "Washington DC", "England", "Abuja"]

titled_country = {"Countries": country, "Capital": country_capital, "Country code": country_code}

data = pd.DataFrame(titled_country)

# saving to csv file
data.to_csv('country.csv', sep = '\t') #! The \t' is to remove the commas (tab character)

# You can also save to other file formats as well using the same 'to_csv' function
data.to_csv('country.txt', sep = '\t')
print(data)

        Countries        Capital Country code
0          Canada         Ottawa           +1
1   United States  Washington DC           +1
2  United Kingdom        England          +44
3         Nigeria          Abuja         +234

# Loading datafram from a file

using the 'pd.read_csv'

In [10]:
airbnb_data = pd.read_csv("airbnb-data.csv")

print(airbnb_data)

/var/folders/_b/b5vxkg2j1yd42bbznfsnslvw0000gn/T/ipykernel_8724/1551166181.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_data = pd.read_csv("airbnb-data.csv")

             id                                              NAME  \
0       1001254                Clean & quiet apt home by the park
1       1002102                             Skylit Midtown Castle
2       1002403               THE VILLAGE OF HARLEM....NEW YORK !
3       1002755                                               NaN
4       1003689  Entire Apt: Spacious Studio/Loft by central park
...         ...                                               ...
102594  6092437                        Spare room in Williamsburg
102595  6092990                     Best Location near Columbia U
102596  6093542                    Comfy, bright room in Brooklyn
102597  6094094                  Big Studio-One Stop from Midtown
102598  6094647                              585 sf Luxury Studio

            host id host_identity_verified    host name neighbourhood group  \
0       80014485718            unconfirmed     Madaline            Brooklyn
1       52335172823               verified        Jenna           Manhattan
2       78829239556                    NaN        Elise           Manhattan
3       85098326012            unconfirmed        Garry            Brooklyn
4       92037596077               verified       Lyndon           Manhattan
...             ...                    ...          ...                 ...
102594  12312296767               verified         Krik            Brooklyn
102595  77864383453            unconfirmed        Mifan           Manhattan
102596  69050334417            unconfirmed        Megan            Brooklyn
102597  11160591270            unconfirmed  Christopher              Queens
102598  68170633372            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat      long        country  ...  \
0                Kensington  40.64749 -73.97237  United States  ...
1                   Midtown  40.75362 -73.98377  United States  ...
2                    Harlem  40.80902 -73.94190  United States  ...
3              Clinton Hill  40.68514 -73.95976  United States  ...
4               East Harlem  40.79851 -73.94399  United States  ...
...                     ...       ...       ...            ...  ...
102594         Williamsburg  40.70862 -73.94651  United States  ...
102595  Morningside Heights  40.80460 -73.96545  United States  ...
102596           Park Slope  40.67505 -73.98045  United States  ...
102597     Long Island City  40.74989 -73.93777  United States  ...
102598      Upper West Side  40.76807 -73.98342  United States  ...

       service fee minimum nights number of reviews last review  \
0            $193            10.0               9.0  10/19/2021
1             $28            30.0              45.0   5/21/2022
2            $124             3.0               0.0         NaN
3             $74            30.0             270.0  07/05/2019
4             $41            10.0               9.0  11/19/2018
...            ...            ...               ...         ...
102594       $169             1.0               0.0         NaN
102595       $167             1.0               1.0  07/06/2015
102596       $198             3.0               0.0         NaN
102597       $109             2.0               5.0  10/11/2015
102598       $206             1.0               0.0         NaN

        reviews per month review rate number calculated host listings count  \
0                    0.21                4.0                            6.0
1                    0.38                4.0                            2.0
2                     NaN                5.0                            1.0
3                    4.64                4.0                            1.0
4                    0.10                3.0                            1.0
...                   ...                ...                            ...
102594                NaN                3.0                            1.0
102595               0.02                2.0                            2.0
102596                NaN                5.0                            1.0
102597               0.10                3.0                            1.0
102598                NaN                3.0                            1.0

        availability 365                                        house_rules  \
0                  286.0  Clean up and treat the home the way you'd like...
1                  228.0  Pet friendly but please confirm with me if the...
2                  352.0  I encourage you to use my kitchen, cooking and...
3                  322.0                                                NaN
4                  289.0  Please no smoking in the house, porch or on th...
...                  ...                                                ...
102594             227.0  No Smoking No Parties or Events of any kind Pl...
102595             395.0  House rules: Guests agree to the following ter...
102596             342.0                                                NaN
102597             386.0                                                NaN
102598              69.0                                                NaN

       license
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
102594     NaN
102595     NaN
102596     NaN
102597     NaN
102598     NaN

[102599 rows x 26 columns]

# HEAD METHOD
One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The head() method returns the headers and a specified number of rows, starting from the top.

In [13]:
airbnb_data = pd.read_csv("airbnb-data.csv")

print(airbnb_data.head()) # This prints out only the first five columns in the data frame

/var/folders/_b/b5vxkg2j1yd42bbznfsnslvw0000gn/T/ipykernel_8724/4027116886.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_data = pd.read_csv("airbnb-data.csv")

        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0  07/05/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]

In [14]:
airbnb_data = pd.read_csv("airbnb-data.csv")

print(airbnb_data.head(2)) # you can also specify the number you want inside the head parentheses

/var/folders/_b/b5vxkg2j1yd42bbznfsnslvw0000gn/T/ipykernel_8724/2538172277.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_data = pd.read_csv("airbnb-data.csv")

        id                                NAME      host id  \
0  1001254  Clean & quiet apt home by the park  80014485718
1  1002102               Skylit Midtown Castle  52335172823

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN

[2 rows x 26 columns]

# TAIL METHOD
There is also a tail() method for viewing the last rows of the DataFrame.

The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [19]:
data = pd.read_csv('country.csv',  sep='\t')

print(data.tail(2))

   Unnamed: 0       Countries  Capital  Country code
2           2  United Kingdom  England            44
3           3         Nigeria    Abuja           234

# Filter dataframes

In [21]:
data = pd.read_csv('country.csv',  sep='\t')

# filtering dataframes
filtered_row = data[ data["Countries"] == "Canada" ] 

print(filtered_row)

   Unnamed: 0 Countries Capital  Country code
0           0    Canada  Ottawa             1

# Replacing data

In [22]:
data = pd.read_csv('country.csv',  sep='\t')

filtered_row = data[ data["Capital"] == "England" ] 

#replacing data
replaced_row = data.replace("England", "London")

print(replaced_row)

   Unnamed: 0       Countries        Capital  Country code
0           0          Canada         Ottawa             1
1           1   United States  Washington DC             1
2           2  United Kingdom         London            44
3           3         Nigeria          Abuja           234

# Remove column

axis = 1 >> column while axis = 0 >> rows

In [26]:
data = pd.read_csv('country.csv',  sep='\t')

#removing columns
remove_column = data.drop("Country code", axis = 1)

print(remove_column)

   Unnamed: 0       Countries        Capital
0           0          Canada         Ottawa
1           1   United States  Washington DC
2           2  United Kingdom        England
3           3         Nigeria          Abuja

Removing more than one column

In [27]:
data = pd.read_csv('country.csv',  sep='\t')

#removing columns
remove_column = data.drop(["Country code", "Capital"], axis = 1)

print(remove_column)

   Unnamed: 0       Countries
0           0          Canada
1           1   United States
2           2  United Kingdom
3           3         Nigeria

# Remove Rows

axis = 1 >> column while axis = 0 >> rows

In [29]:
data = pd.read_csv('country.csv',  sep='\t')

#removing rows
remove_row = data.iloc[1:3].drop("Country code", axis = 1)

print(remove_row)

   Unnamed: 0       Countries        Capital
1           1   United States  Washington DC
2           2  United Kingdom        England

# Add new rows

In [33]:
data = pd.read_csv('country.csv',  sep='\t')

#ading rows
add_row = {"Countries": "Ghana",
          "Capital": "Accra",
          "Country code": "+233"
          }

new_row = data.append(add_row, ignore_index=True)

print(new_row)

/var/folders/_b/b5vxkg2j1yd42bbznfsnslvw0000gn/T/ipykernel_8724/637952614.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_row = data.append(add_row, ignore_index=True)

   Unnamed: 0       Countries        Capital Country code
0         0.0          Canada         Ottawa            1
1         1.0   United States  Washington DC            1
2         2.0  United Kingdom        England           44
3         3.0         Nigeria          Abuja          234
4         NaN           Ghana          Accra         +233

# Removing duplicates

In [34]:
data = pd.read_csv('country.csv',  sep='\t')

data.drop_duplicates()

   Unnamed: 0       Countries        Capital  Country code
0           0          Canada         Ottawa             1
1           1   United States  Washington DC             1
2           2  United Kingdom        England            44
3           3         Nigeria          Abuja           234