# Tiny database

In [1]:
# importing the library

from tinydb import TinyDB, Query

# Connecting to the database and adding data to the database

In [15]:
#* Creating the database
db = TinyDB("students.json")

# insert into the database
db.insert({'Name': 'Daniel', 'Age': 20, 'Gender': 'male'})
db.insert({'Name': 'Joy', 'Age': 22, 'Gender': 'female'})
db.insert({'Name': 'James', 'Age': 20, 'Gender': 'male'})
db.insert({'Name': 'Dan', 'Age': 19, 'Gender': 'male'})
db.insert({'Name': 'Angel', 'Age': 23, 'Gender': 'female'})
db.insert({'Name': 'John', 'Age': 17, 'Gender': 'male'})
db.insert({'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'})
db.insert({'Name': 'Ava', 'Age': 21, 'Gender': 'female'})

17

# Get all data in database

In [16]:
db.all()

[{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Dan', 'Age': 19, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'John', 'Age': 17, 'Gender': 'male'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Dan', 'Age': 19, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'John', 'Age': 17, 'Gender': 'male'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'}]

# Ilterate the database

In [17]:
for students in db :
   print(students)

{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'}
{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'}
{'Name': 'Joy', 'Age': 22, 'Gender': 'female'}
{'Name': 'James', 'Age': 20, 'Gender': 'male'}
{'Name': 'Dan', 'Age': 19, 'Gender': 'male'}
{'Name': 'Angel', 'Age': 23, 'Gender': 'female'}
{'Name': 'John', 'Age': 17, 'Gender': 'male'}
{'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'}
{'Name': 'Ava', 'Age': 21, 'Gender': 'female'}
{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'}
{'Name': 'Joy', 'Age': 22, 'Gender': 'female'}
{'Name': 'James', 'Age': 20, 'Gender': 'male'}
{'Name': 'Dan', 'Age': 19, 'Gender': 'male'}
{'Name': 'Angel', 'Age': 23, 'Gender': 'female'}
{'Name': 'John', 'Age': 17, 'Gender': 'male'}
{'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'}
{'Name': 'Ava', 'Age': 21, 'Gender': 'female'}

# Query

Of course you’ll also want to search for specific documents. Let’s try:

In [18]:
Students = Query()

db.search(Students.Age == 20)

[{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'}]

In [13]:
Age_filter = Query()

db.search(Age_filter.Age < 20)

[{'Name': 'Dan', 'Age': 19, 'Gender': 'male'},
 {'Name': 'John', 'Age': 17, 'Gender': 'male'}]

# Update data

In [19]:
db.update({'Name': 'Danny'}, Students.Name == 'Dan')

db.all()

[{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Danny', 'Age': 19, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'John', 'Age': 17, 'Gender': 'male'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Danny', 'Age': 19, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'John', 'Age': 17, 'Gender': 'male'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'}]

# Removing data from the database

In [20]:
db.remove(Students.Age < 20)

db.all()

[{'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'},
 {'Name': 'Daniel', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Joy', 'Age': 22, 'Gender': 'female'},
 {'Name': 'James', 'Age': 20, 'Gender': 'male'},
 {'Name': 'Angel', 'Age': 23, 'Gender': 'female'},
 {'Name': 'Wisdom', 'Age': 25, 'Gender': 'male'},
 {'Name': 'Ava', 'Age': 21, 'Gender': 'female'}]

And of course you can throw away all data to start with an empty database:

 db.truncate()
 
 db.all()
 
[]